$color: black;

body {
    background-color: $color;
    //禁用文字选中
    user-select: none;
}

img{
    //禁止拖动图片
    -webkit-user-drag: none;
}


.brand {
    width:  60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 30px auto;
}

.homebuttons {
    text-align: center;
    margin: 80px auto;
}

.headimg {
    width:128px;
    height:100px;
    position:relative;
    text-align: center;
}

.search {
    text-align: center;
    margin: 10px auto;
}

.formsearch {
    text-align: center;
    margin: 20px auto;
}